include ../../_config.jade

section.main#acerca-de-nosotros
  .container.fluid.middle
    .c4.cm12
      .container: .c10.o1
        .tac: .container: .c8.o2: img(src="app/img/aplik.png", alt="apli.k").fluid
        br
        p Con más de 10  años de experiencia en el mercado, APLI.K se especializa en diferentes clases de servicios que atienden y satisfacen las necesidades de corporativos, industrias, comercios y hogares.
    +bgimg('acerca/aplik-innovacion.jpg', 'c8 cm12')
    
  .container.fluid
    +bgimg('acerca/aplik-desarrollo.jpg', 'c')
      .scrollIcon
    
  .container.fluid.middle
    +bgimg('acerca/aplik-servicios.jpg', 'c4 cm12')
    .c8.cm12
      .container: .c8.o2
        p Somos una empresa integrada por gente extraordinaria que opera bajo las mejores prácticas de ejecución enfocada en realizar productos de excelencia.
        p Nuestro diferenciador radica en 3 dimensiones: innovación en tecnología, colaboradores de primer nivel y un servicio al cliente excepcional.

  .container.fluid.middle
    .c4.cm12
      .container: .c10.o1
        h4 Aplik forma parte de <a href="http://btcinvestments.com.mx/" target="_blank"><strong class="hl">BTC Investments</strong></a>, un grupo de empresas 100% mexicanas dedicadas al área de servicio. 
    +bgimg('acerca/aplik-industrias.jpg', 'c8 cm12')
  
  .container.fluid
    +bgimg('acerca/aplik-comercios.jpg', 'c')


    
