include ../../_config.jade

section.main#acerca-de-nosotros
  .container.fluid.middle
    .c4.cm12
      .container: .c10.o1.cm12.om0
        .tac: .container: .c8.o2.cm6.om3.mt2: img(src="app/img/aplik.png", alt="apli.k").fluid
        br
        p Con más de 7 años de experiencia, ApliK es la empresa líder de señalización en México. Contamos con tecnología de última generación que incluye impresión a gran escala, letras 3-D, fabricación de cajas de luz y una fábrica de 3.000 metros cuadrados destinada para  producir ideas de alto impacto para nuestros clientes.

    +bgimg('acerca/aplik-innovacion.jpg', 'c8 cm12')
    
  .container.fluid
    +bgimg('acerca/aplik-desarrollo.jpg', 'c')
      .scrollIcon
    
  .container.fluid.middle
    +bgimg('acerca/aplik-servicios.jpg', 'c4 cm12')
    .c8.cm12
      .container: .c8.o2.cm12.om0
        p Nuestra pasión por obtener productos de calidad, es la fuerza que impulsa a nuestro personal altamente capacitado que cuentan con bastantes años de experiencia en su área de especialización. Tenemos cuadrillas de instalación con cobertura nacional, que se aseguran de colocar nuestras soluciones como nuestro cliente las solicitó.


  .container.fluid.middle
    .c4.cm12
      .container: .c10.o1.cm12.om0
        p Estamos comprometidos a ofrecer materiales de primera calidad a un precio competitivo, todo fabricado especialmente para nuestros clientes. Trabajamos con marcas nacionales e internaciones, empresas emergentes, negocios sobresalientes o empresas que actualmente pasan por una renovación de imagen.

    +bgimg('acerca/aplik-industrias.jpg', 'c8 cm12')
  
  .container.fluid
    +bgimg('acerca/aplik-comercios.jpg', 'c')


    
