include ../../_config.jade
section.main#contacto

  .container.fluid.fixedheight
    .c4.g.mt2.cm12: .container.middle.fixedheight: .c10.o1
      h3.mt2 PARA BRINDAR UN<br>EXCELENTE SERVICIO<br>CONTAMOS CON:
    .c4.g.mt2.cm12: .container.middle.fixedheight: .c10.o1
      ul.mt2
        li Personal capacitado
        li Cobertura a nivel nacional
        li Herramientas especializadas 
        li Equipo de seguridad 
        li Experiencia de 10 años
        li Infraestructura
        li Bodegas 
        li Unifome
    +masinfo
  
  

  .container.fluid
    +bgimg('contacto/proveedor-oficial-aplika.jpg', 'c')
      .container.middle.center.inner.tac
        .c
          .subtitle
            span.left SOMOS PROVEEDOR OFICIAL
            small.right WORLD GOLF CHAMPIONSHIPS<br>MEXICO CHAMPIONSHIP 
  
  .container.fluid.mb2
    .c12.mt2: h4.mt2 NUESTROS CLIENTES
    .c12.mt2.ourclients
      .container.middle.tac
        .c: img(src="app/img/contacto/grupo-salinas-aplika.png", alt="Grupo Salinas")
        .c: img(src="app/img/contacto/vips-aplik.png", alt="Vips")
        .c: img(src="app/img/contacto/movistar-aplik.png", alt="Movistar")
      .container.middle.tac.mt2
        .c: img(src="app/img/contacto/banco-azteca-aplik.png", alt="Banco Azteca")
        .c: img(src="app/img/contacto/starbucks-aplik.png", alt="Starbucks Coffee")
        .c: img(src="app/img/contacto/dominos-aplik.png", alt="Domino's Pizza")
        .c: img(src="app/img/contacto/little-caesars-aplik.png", alt="Little Caesars")
        
      .container.middle.tac.mt2
        .c: img(src="app/img/contacto/bodegas-la-negrita-aplik.png", alt="Bodegas La Negrita")
        .c: img(src="app/img/contacto/los-almendros-aplik.png", alt="")
        .c: img(src="app/img/contacto/laddu-aplik.png", alt="Laddu")
      .container.middle.tac.mt2.mb2
        .c: img(src="app/img/contacto/grupo-elektra-aplik.png", alt="")
        .c: img(src="app/img/contacto/hidrosina-aplik.png", alt="Hidrosina")
        .c: img(src="app/img/contacto/television-azteca-aplik.png", alt="")


  .container.fluid
    +bgimg('contacto/aplika-calle-del-rio-14.jpg', 'c')
      .container.middle.center.inner
        .c4.o8
          .subtitleFooter
            h4 ESTAMOS UBICADOS EN:
            p Calle del Río No. 14, <br>Fracc. Industrial Alce Blanco. <br>Naucalpan, Estado de México.
