include ../../_config.jade

section.main#signos
  .container.fluid.middle
    .c8.cm12
      .container: .c6.o1.cm10.cm12.om0
        h2 APLIK <br>SIGNOS
        p Cuenta con tecnología de última generación que que le permite ofrecer productos como anuncios  luminosos, letras 3-D, impresión digital en gran  formato y sublimación.
        p Tiene una planta de 3.000 metros cuadrados destinada  a producir anuncios luminosos. Cuenta con  distribución en el DF y toda la República Mexicana.
  
    +bgimg('signos/anuncios-luminosos-para-tu-negocio.jpg', 'c4 cm12')
  .container.fluid#anuncios-luminosos
    +bgimg('signos/fabrica-de-anuncios-luminosos-en-el-df.jpg', 'c')
      .container.middle.center.inner.tac: .c: .subtitle.dark 
        span.left ANUNCIOS
        span.right LUMINOSOS
      .scrollIcon
  .container.fluid.middle
    +bgimg('signos/espectaculares-luminosos-en-cdmx.jpg', 'c4 cm12')
    .c8.cm12
      .container: .c10.o1.cm12.om0
        h3 ¡Conoce los anuncios <br>luminosos más efectivos <br>para publicitar <br>tu negocio!
  .container.fluid.middle
    +bgimg('signos/remodelacion-con-iluminacion.jpg', 'c8 ct6 cm12')
    .c4.ct6.cm12
      .container: .c10.o1.cm12.om0
        h4 Anuncios <br>Luminosos de Led
        p Estos anuncios luminosos son comunes en materiales transparentes, la idea es que la luz LED ilumine hacia el frente y a los costados del anuncio.
        p Estos anuncios se fabrican con acrílico y vinil translúcido, eso permite que los colores del diseño sean más vivos y nítidos.

  .container.fluid.middle.fixedheight

    .c4.cm12.om0
      .container: .c10.o1.cm12.om0
        h4 Nuestros productos
        ul
          li Logotipos
          li Marquesinas 
          li Cajas de luz
          li Estructuras
          li Unipolares
          li Tótems

    +bgimg('signos/senalizacion-con-iluminacion.jpg', 'c8 cm12')


    
  .container.fluid
    //+bgimg('signos/fabricacion-de-anuncios-luminosos-precio.jpg', 'c')
    slick.c12(autoplay="true")
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-1.jpg", alt="Fabricación de anuncios luminosos").fluid
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-2.jpg", alt="Fabricación de anuncios luminosos").fluid
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-3.jpg", alt="Fabricación de anuncios luminosos").fluid
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-4.jpg", alt="Fabricación de anuncios luminosos").fluid
      
      
      
  .container.fluid.middle#letras-3d
    +bgimg('signos/letras-3d.jpg', 'c8 ct6 cm12')
      .container.bottom.center.inner.tar: .c: .subtitle: span.left Letras 3-D

    .c4.ct6.cm12
      .container.fixedheight.bottom: .c10.o1.cm12.om0
        p.mb2 Letras fabricadas a base de metal y acrílico. Utilizadas para interiores y  exteriores las cuales pueden ir con o  sin luz. También conocidas como  letras 3-D.
  .container.fluid.fixedheight
    +bgimg('signos/letras-en-3-d.jpg', 'c4 cm12')
    slick.c8.cm12(autoplay="true").fixedheight
      div: img(src="app/img/signos/letras-3d-a.jpg", alt="Letras 3D").fluid.fixedheight
      div: img(src="app/img/signos/letras-3d-b.jpg", alt="Letras 3D").fluid.fixedheight
      div: img(src="app/img/signos/letras-3d-c.jpg", alt="Letras 3D").fluid.fixedheight
  
  .container.fluid
    slick.c12(autoplay="true")
      div: img(src="app/img/signos/letras3d-a.jpg", alt="Letras 3D").fluid
      div: img(src="app/img/signos/letras3d-b.jpg", alt="Letras 3D").fluid
      div: img(src="app/img/signos/letras3d-c.jpg", alt="Letras 3D").fluid
      
      
      
      
      
  //.container.fluid.middle
    +bgimg('signos/precios-de-anuncios-luminosos.jpg', 'c4 cm12')
    .c8.cm12
      .container: .c10.o1
        h4 Letras <br>Sueltas
        p Estos anuncios luminosos son utilizados para llamar la atención en negocios o plazas.
        p En su mayoría hechas con respaldo y canto de lámina de aluminio, frente de acrílico decorado con vinil e iluminación tipo LED.





  //.container.fluid.middle
    .c4.cm12
      .container: .c10.o1
        h4 Cajas de Luz
        p Es un anuncio luminoso diseñado para PDV. Busca comunicar un alto impacto con larga durabilidad. Dentro los beneficios se encuentran:
        br
        p 1.-Ahorro en gastos de instalación (cualquier persona puede cambiar la imagen).
        p 2.-Proyecta una imagen innovadora.
        p 3.-Fácil almacenamiento.
        br
        p Este producto terminado incluye 3 componentes principales:
        p Perfil extruido de alumino, la iluminación e impresión.

    .c4.cm12
      .container: .c10.o1
        p En el perfil extruido de aluminio contamos con 4 tipos, que ayudan a la iluminación de una vista y dos vistas.
        br
        p La iluminación es con tecnología LED.
        br
        p Impresión en UV o sublimación.
    +bgimg('signos/impresion-de-material-luminoso.jpg', 'c4 cm12')



  .container.fluid.middle#impresion-digital
    +bgimg('signos/impresion-digital-y-sublimacion.jpg', 'c')
      .container.bottom.center.inner: .c: .subtitle
        span.left IMPRESIÓN DIGITAL
        span.right Y SUBLIMACIÓN
  
  .container.fluid.middle
    .c4.cm6
      .container: .c10.o1.cm12.om0
        p Contamos con impresoras de 3.20 ancho para sustratos rígidos y flexibles.

    .c4.cm6
      .container: .c10.o1.cm12.om0
        ul
          li Acrílico
          li Cartón
          li PVC
          li Coroplast
          li Estireno
          li Corcho
          li Madera
          li Lámina de aluminio
          li Policarbonato 

    +bgimg('signos/fabricacion-de-anuncios-para-marcas.jpg', 'c4 cm12')


  .container.fluid
    +bgimg('signos/empresa-de-impresion-digital.jpg', 'c')
      .scrollIcon


  .container.fluid.middle#infraestructura
    .c4.ct6.cm12
      .container: .c10.o1.cm12.om0
        h4 Equipos de impresión:
        ul
          li Impresoras de 3.20 ancho, 
          li  EFI VuTEK GS 3250 Lx Pro, 
          li  EFI VuTEK GS 3250 Lx Pro Ultradrop, EFI VuTEK 1625  Led 
          li  HP


    +bgimg('signos/senalizacion-de-evento.jpg', 'c8 ct6 cm12')
      .container.bottom.center.inner.tal: .c: .subtitle
        span.left INFRAES
        span.right TRUCTURA
        
        
        
  .container.fluid
    +bgimg('signos/equipos-de-impresion.jpg', 'c')
      .scrollIcon








  //slick.c12(autoplay="true")
    div: img(src="app/img/signos/senalizacion-de-eventos-1.jpg", alt="Señalización").fluid
    div: img(src="app/img/signos/senalizacion-de-eventos-2.jpg", alt="Señalización").fluid
    div: img(src="app/img/signos/senalizacion-de-eventos-3.jpg", alt="Señalización").fluid
    div: img(src="app/img/signos/senalizacion-de-eventos-4.jpg", alt="Señalización").fluid
      

  

  
  .container.fluid.fixedheight
    .c4.ct12.mt2.cm12: .container: .c10.o1.cm12.om0
      h3.mt2 Router y CNC’s:
      p.mt2 Contamos con CNC’s para cortar materiales hasta de 3 m de ancho  ya sea con navaja, router o laser  para cualquier tipo de material de hasta 2 pulgadas.
      ul 
        li Multicam 3000 Series Graphex
        li  Aristomat GL 2032
        li  CamFive Láser 
    .c4.ct12.mt2.cm12: .container: .c10.o1.cm12.om0
      h3.mt2 Canteadora de Letras
      p.mt2 Contamos con una máquina que realiza el canto de las letras catalogada como la más precisa a nivel mundial.
      ul
        li Accu-Bend 
    .c4.ct12.mt2.cm12: .container: .c10.o1.cm12.om0
      h3.mt2 Equipo Metalmecánico
      p.mt2 Contamos con todas las  herramienta necesaria para  realizar cualquier tipo de  estructura en cualquier  tipo de fierro, aluminio,  madera, etc.
      ul
        li Cizallas 
        li Dobladoras
        li Cortadoras
        li Roladoras 
        li Soldadura
        li Cabina de pintura








  .container.fluid
    +bgimg('signos/impresion-digital-en-serie.jpg', 'c signoslast')
      .container.middle.center.inner.tac
        .c2
        .c: .subtitle(ui-sref="contacto"): span.left Contáctanos
        .c2.tac: a(ui-sref="pintura").nextPage
