include ../../_config.jade

section.main#signos
  .container.fluid.middle
    .c8.cm12
      .container: .c6.o1.cm10
        h2 APLIK <br>SIGNOS
        p Aplik Signos se especializa en señalización. 
        p Cuenta con tecnología de última generación que le permite ofrecer impresión a gran escala, letras sueltas, fabricación de cajas de luz, y sublimación.
        p Tiene una planta de 3.000 metros cuadrados destinada a producir anuncios luminosos. Cuenta con distribución en el DF y toda la República Mexicana.
  
    +bgimg('signos/anuncios-luminosos-para-tu-negocio.jpg', 'c4 cm12')
  .container.fluid#anuncios-luminosos
    +bgimg('signos/fabrica-de-anuncios-luminosos-en-el-df.jpg', 'c')
      .container.middle.center.inner.tac: .c: .subtitle.dark 
        span.left ANUNCIOS
        span.right LUMINOSOS
      .scrollIcon
  .container.fluid.middle
    +bgimg('signos/espectaculares-luminosos-en-cdmx.jpg', 'c4 cm12')
    .c8.cm12
      .container: .c10.o1
        h3 ¡Conoce los anuncios<br>luminosos más efectivos<br>para publicitar tu negocio!
  .container.fluid.middle
    +bgimg('signos/remodelacion-con-iluminacion.jpg', 'c8 ct6 cm12')
    .c4.ct6.cm12
      .container: .c10.o1
        h4 Anuncios Luminosos de Led
        p Estos anuncios luminosos son comunes en materiales transparentes, la idea es que la luz LED ilumine hacia el frente y a los costados del anuncio.
        p Estos anuncios se fabrican con acrílico y vinil translúcido, eso permite que los colores del diseño sean más vivos y nítidos.

  .container.fluid.middle.fixedheight
    .c4.g.cm6
      p Gabinetes fabricados con materiales de la más alta calidad y distintos tipos de iluminación de alta duración.

    .c4.g.cm6
      ul
        li Logotipos
        li Toldos
        li Marquesinas 
        li Construcción de Unipolares 
        li Banderas
        li Estructuras personalizadas 

    //+bgimg('signos/marquesinas-con-iluminacion.jpg', 'c4 cm12')
    +masinfo


    
  .container.fluid
    //+bgimg('signos/fabricacion-de-anuncios-luminosos-precio.jpg', 'c')
    slick.c12(autplay="true")
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-1.jpg", alt="Fabricación de anuncios luminosos").fluid
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-2.jpg", alt="Fabricación de anuncios luminosos").fluid
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-3.jpg", alt="Fabricación de anuncios luminosos").fluid
      div: img(src="app/img/signos/fabricacion-de-anuncios-luminosos-precio-4.jpg", alt="Fabricación de anuncios luminosos").fluid
      
  .container.fluid.middle
    +bgimg('signos/precios-de-anuncios-luminosos.jpg', 'c4 cm12')
    .c8.cm12
      .container: .c10.o1
        h4 Letras <br>Sueltas
        p Estos anuncios luminosos son utilizados para llamar la atención en negocios o plazas.
        p En su mayoría hechas con respaldo y canto de lámina de aluminio, frente de acrílico decorado con vinil e iluminación tipo LED.





  .container.fluid.middle
    .c4.cm12
      .container: .c10.o1
        h4 Cajas de Luz
        p Es un anuncio luminoso diseñado para PDV. Busca comunicar un alto impacto con larga durabilidad. Dentro los beneficios se encuentran:
        br
        p 1.-Ahorro en gastos de instalación (cualquier persona puede cambiar la imagen).
        p 2.-Proyecta una imagen innovadora.
        p 3.-Fácil almacenamiento.
        br
        p Este producto terminado incluye 3 componentes principales:
        p Perfil extruido de alumino, la iluminación e impresión.

    .c4.cm12
      .container: .c10.o1
        p En el perfil extruido de aluminio contamos con 4 tipos, que ayudan a la iluminación de una vista y dos vistas.
        br
        p La iluminación es con tecnología LED.
        br
        p Impresión en UV o sublimación.
    +bgimg('signos/impresion-de-material-luminoso.jpg', 'c4 cm12')



  .container.fluid.middle#senalizacion
    +bgimg('signos/senalizacion-con-iluminacion.jpg', 'c8 ct6 cm12')
      .container.bottom.center.inner.tar: .c: .subtitle: span.left SEÑALIZACIÓN

    .c4.ct6.cm12
      .container.fixedheight.bottom: .c10.o1
        p.mb2 Apli.k es especialista en señalización de eventos a gran escala y cambio de imagen en proyectos nacionales e internacionales. 

  slick.c12(autplay="true")
    div: img(src="app/img/signos/senalizacion-de-eventos-1.jpg", alt="Señalización").fluid
    div: img(src="app/img/signos/senalizacion-de-eventos-2.jpg", alt="Señalización").fluid
    div: img(src="app/img/signos/senalizacion-de-eventos-3.jpg", alt="Señalización").fluid
    div: img(src="app/img/signos/senalizacion-de-eventos-4.jpg", alt="Señalización").fluid
      

  .container.fluid.middle#infraestructura
    .c4.ct6.cm12
      .container: .c10.o1
        p Contamos con tecnología:
        p Vutek
        p Accu-bend
        p MultiCAM
        p Aristo
        p Láser
        p Laminación


    +bgimg('signos/senalizacion-de-eventos.jpg', 'c8 ct6 cm12')
      .container.bottom.center.inner.tal: .c: .subtitle
        span.left INFRAES
        span.right TRUCTURA
  .container.fluid
    +bgimg('signos/impresion-digital-para-eventos.jpg', 'c')
      .scrollIcon
  .container.fluid.middle#impresion-digital
    +bgimg('signos/impresion-de-espectaculares.jpg', 'c12')
      .container.bottom.center.inner.tal: .c: .subtitle
        span.left IMPRESIÓN
        span.right DIGITAL
  .container.fluid.middle
    +masinfo
    //.c4.g.cm6
      p Realizamos Impresión digital en gran formato, con un ancho de 3.20 m. en sustratos rígidos y flexibles como:
    .c3.o1.g.cm6
      ul
        li Acrílico
        li Cartón
        li PVC
        li Coroplast
        li Estireno
        li Corcho
        li Madera
        li Lámina de aluminio
        li Policarbonato 

    +bgimg('signos/fabricacion-de-anuncios-para-marcas.jpg', 'c4 cm12')
  .container.fluid
    +bgimg('signos/empresa-de-impresion-digital.jpg', 'c')
      .scrollIcon
  .container.fluid.middle.fixedheight
    .c4.g.cm12
      h4 Impresión Digital <br>en flexibles:
    .c4.g.cm6
      ul
        li Vinil decorativo
        li Sustrato con laminado 
        li Lonas
        li Escenografías
        li Gigantografías
        li Impresión en papel tapiz
        li Impresión en tela
        li Impresión en películas 
    .c4.g.cm6
      ul
        li Dinoc
        li Esmerilado
        li Papel alto gramaje 
        li Vinil microperforado
        li Vinil electrostático 








  .container.fluid
    +bgimg('signos/impresion-gran-formato-digital.jpg', 'c')
      .scrollIcon
  .container.fluid
    +bgimg('signos/impresion-digital-en-serie.jpg', 'c')
      .container.middle.center.inner.tac
        .c2
        .c: .subtitle(ui-sref="contacto").dark: span.left CONTÁCTANOS
        .c2.tac: a(ui-sref="pintura").nextPage
