include _config.jade

+html5
  +head('Apli.k', '', '')
  //base(href="/")
  
  body(ng-app="dw4", scrollable="")
  
    
    
    h1.logo(ui-sref="inicio")
      img(src="app/img/aplik.png", alt="Apli.k").fluid
    
  
    
    nav.mainmenu
      .mainmenubtn
        span
        span
        span
      .mainmenuview
        .container.middle.fluid
          .c
            .tac
              a(ui-sref="signos") SIGNOS
              br
              a(ui-sref="pintura") PINTURA
              br
              a(ui-sref="electrico") ELÉCTRICO
              br
              a(ui-sref="galeria") GALERÍA
              br
              a(ui-sref="contacto") CONTACTO
    
    
    
    div(ng-controller="MainCtrl").homeContainer
      div.backToTopBtn(ng-click="goUp()")
        i.fa.fa-chevron-up
        p {{scrollToTop}}
      a(ui-sref="acerca-de-nosotros" ng-hide="toState=='acerca-de-nosotros'").acerca-de-nosotrosBtn
        | Acerca de nosotros
      div(ng-if="toState!='inicio'").scrollIcon
      a(ui-sref="inicio" ui-sref-active="hidden").gobackBtn.fa.fa-angle-left
      nav.home.container.fluid
        .c.sectionBtn(ui-sref="signos" ui-sref-active="active")
          .text
            .title Signos
            .sub
              a(href="#anuncios-luminosos" du-smooth-scroll) Anuncios luminosos
              a(href="#letras-3d" du-smooth-scroll) Letras 3-D
              a(href="#impresion-digital" du-smooth-scroll) Impresión digital
        .c.sectionBtn(ui-sref="pintura" ui-sref-active="active")
          .text
            .title Pintura
            .sub
              a(href="#recubrimientos" du-smooth-scroll) Recubrimientos
              a(href="#pintura" du-smooth-scroll) Pintura
              a(href="#impermeabilizantes" du-smooth-scroll) Impermeabilizantes
        .c.sectionBtn(ui-sref="electrico" ui-sref-active="active")
          .text
            .title Eléctrico
            .sub
              a(href="#voz-y-datos" du-smooth-scroll) Voz y Datos
        .c.sectionBtn.acercaBtn(ui-sref="acerca-de-nosotros" ui-sref-active="active")
          .text
            .title Acerca de <br>Nosotros
        .c.sectionBtn.galeriaBtn(ui-sref="galeria" ui-sref-active="active")
          .text
            .title Galería
        .c.sectionBtn.contactoBtn(ui-sref="contacto" ui-sref-active="active")
          .text
            .title Contacto
            .sub
              a(href="tel:5513419621").tel (55) 5358-3191
              br
              a(href="mailto:jvelazquez@aplik.com.mx") jvelazquez@aplik.com.mx
      
    
      
    
    
        
      
    
    //nav.homemenu.container(ng-controller="MainCtrl").fluid
      a.item.c(ui-sref-active="active" ui-sref="signos")
        .activeTitle
          .appearEvent
            p Signos
            p.small(du-smooth-scroll="signos") Anuncios Luminosos
            p.small(du-smooth-scroll="senalizacion") Señalización
            p.small(du-smooth-scroll="impresion-digital") Impresión Digital
            .scroll
        +appear-module('Signos', 'Anuncios Luminosos <br>Señalización <br>Impresión Digital ')
        
      a.item.c(ui-sref-active="active" ui-sref="pintura")
        .activeTitle
          .appearEvent
            p Pintura
            p.small Recubrimientos <br>Home Solutions
            .scroll
        +appear-module('Pintura', 'Recubrimientos <br>Home Solutions')
        
      a.item.c(ui-sref-active="active" ui-sref="electrico")
        .activeTitle
          .appearEvent
            p Eléctrico
            p.small Voz y Datos <br>Cableado
            .scroll
        +appear-module('Eléctrico', 'Voz y Datos <br>Cableado')
      
      a.item.c(ui-sref-active="active" ui-sref="acerca-de-nosotros").nosotros
        .activeTitle
          .appearEvent
            p ACERCA DE <br>NOSOTROS
            .scroll
      
    
      a.logo(ui-sref="acerca-de-nosotros" ui-sref-active="hidden").container
          .c6: img(src="app/img/aplik.png", alt="Apli.k").fluid
          .c6.g: .section-link Acerca de nosotros
      
      a(ui-sref="inicio" ui-sref-active="hidden").gobackBtn.fa.fa-angle-left
      
    div(ui-view).initview
      

    +scripts
