include _config.jade

+html5
  +head('Apli.k', '', '')
  
  body(ng-app="dw4")
    
    nav.mainmenu
      .mainmenubtn
        span
        span
        span
      .mainmenuview
        .container.middle.fluid
          .c
            .tac
              a(ui-sref="signos") SIGNOS
              a(ui-sref="pintura") PINTURA
              a(ui-sref="electrico") ELÉCTRICO
              a(ui-sref="contacto") CONTACTO
        
      
    
    nav.homemenu.container(ng-controller="MainCtrl").fluid
      
      a.item.c(ui-sref-active="active" ui-sref="signos")
        .activeTitle
          .appearEvent
            p Signos
            p.small Anuncios Luminosos <br>Señalización <br>Impresión Digital
            .scroll
        +appear-module('Signos', 'Anuncios Luminosos <br>Señalización <br>Impresión Digital ')
        
      a.item.c(ui-sref-active="active" ui-sref="pintura")
        .activeTitle
          .appearEvent
            p Pintura
            p.small Recubrimientos <br>Home Solutions
            .scroll
        +appear-module('Pintura', 'Recubrimientos <br>Home Solutions')
        
      a.item.c(ui-sref-active="active" ui-sref="electrico")
        .activeTitle
          .appearEvent
            p Eléctrico
            p.small Voz y Datos <br>Cableado
            .scroll
        +appear-module('Eléctrico', 'Voz y Datos <br>Cableado')
      
      a.item.c(ui-sref-active="active" ui-sref="acerca-de-nosotros").nosotros
        .activeTitle
          .appearEvent
            p ACERCA DE <br>NOSOTROS
            .scroll
      
    
      a.logo(ui-sref="acerca-de-nosotros" ui-sref-active="hidden").container
          .c6: img(src="app/img/aplik.png", alt="Apli.k").fluid
          .c6.g: .section-link Acerca de nosotros
      
      a(ui-sref="inicio" ui-sref-active="hidden").gobackBtn.fa.fa-angle-left
      
    div(ui-view).initview
      

    +scripts
